[submodule "optimizer"]
  path = optimizer
  url = git@github.com:ao-apps/ao-web-resources-optimizer.git
  branch = javaee
[submodule "registry"]
  path = registry
  url = git@github.com:ao-apps/ao-web-resources-registry.git
  branch = .
[submodule "renderer"]
  path = renderer
  url = git@github.com:ao-apps/ao-web-resources-renderer.git
  branch = javaee
[submodule "servlet"]
  path = servlet
  url = git@github.com:ao-apps/ao-web-resources-servlet.git
  branch = javaee
[submodule "taglib"]
  path = taglib
  url = git@github.com:ao-apps/ao-web-resources-taglib.git
  branch = javaee
