[submodule "optimizer"]
	path = optimizer
	url = git@aoindustries.github.com:aoindustries/ao-web-resources-optimizer.git
[submodule "registry"]
	path = registry
	url = git@aoindustries.github.com:aoindustries/ao-web-resources-registry.git
[submodule "renderer"]
	path = renderer
	url = git@aoindustries.github.com:aoindustries/ao-web-resources-renderer.git
[submodule "servlet"]
	path = servlet
	url = git@aoindustries.github.com:aoindustries/ao-web-resources-servlet.git
[submodule "taglib"]
	path = taglib
	url = git@aoindustries.github.com:aoindustries/ao-web-resources-taglib.git
